.header__image {
    display: block;
    margin: 64px auto 0;
    width: 984px;
}

@media screen and (max-width: 1100px) {
    .header__image {
        max-width: 928px;
        margin: 56px auto 0;
    }
}

@media all and (max-width: 900px) {
    .header__image {
      width: 100%;
    }
}

@media all and (max-width: 320px) {
    .header__image {
        margin: 40px auto 0;
    }
}