.description {
  padding: 0 calc((100vw - 690px)/2);
}

@media screen and (max-width: 1300px) {
  .description {
    padding: 0 148px;
  }
}

@media screen and (max-width: 1100px) {
  .description {
    padding: 0 98px;
  }
}

@media screen and (max-width: 1024px) {
  .description {
    padding: 0 48px;
  }
}

@media all and (max-width: 768px) {
  .description {
    padding: 0 24px;
  }
}

@media all and (max-width: 320px) {
  .description {
    padding: 0 16px;
  }
}