.footer__column-link {
  display: block;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFF;
}

.footer__column-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media all and (max-width: 320px) {
  .footer__column-link {
    font-size: 24px;
    line-height: 24px;
  }
}