.cards__description {
  margin-block-start: 0em;
  margin-block-end: 0em;
  grid-area: text;
}

@media all and (max-width: 768px) {
  .cards__description:last-child .cards__paragraph {
    margin-bottom: 0;
  }
}

@media all and (max-width: 360px) {
  .cards__description {
    padding: 0 16px;
  }
} 