.epilogue__text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    position: absolute;
    top: 429px;
    left:0;
    right:0;
    margin: auto;
    max-width: 360px;
    max-height: 66px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    z-index: 5;
}

@media screen and (max-width: 1024px) {
    .epilogue__text {
        top: 379px;  
    }
}

@media all and (max-width: 768px) {
    .epilogue__text {
        top: 299px;  
    }
}

@media all and (max-width: 560px) {
    .epilogue__text {
        top: 200px;
    }
}

@media all and (max-width: 380px) {
    .epilogue__text {
        font-size: 14px;
        line-height: 16px;
        top: 119px;
    }
}