.epilogue__text {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    margin: 0 auto;
    padding-top: 32px;
    max-width: 360px;
    max-height: 66px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    position: relative;
    z-index: 2;
}

@media all and (max-width: 320px) {
    .epilogue__text {
        font-size: 14px;
        line-height: 16px;
    }
}