.menu__lang {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    align-items:center;
}

.menu__lang:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media all and (max-width: 320px) {
    .menu__lang {
        font-size: 18px;
        line-height: 20px;
    }
}