.cards__title {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: header;
  }

@media all and (max-width: 768px) {
  .cards__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    max-width: 340px;
    max-height: 92px;
  }

  .cards__title:first-child {
    max-width: 330px;
    max-height: 92px;
  }
}

@media all and (max-width: 650px) {
  .cards__title:first-child {
    max-width: 340px;
  }
}

@media all and (max-width: 360px) {
  .cards__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
    max-height: 35px;
  }
} 