.introduction__image-aftor {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 8px auto 0;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media all and (max-width: 768px) {
    .introduction__image-aftor {
      margin-left: 24px;
    }
}