.epilogue__title {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    margin: auto;
    color: #FFF;
    text-decoration: none;
    position: absolute;
    top: 245px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 152px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 5;
}

@media all and (max-width: 1024px) {
    .epilogue__title {
        top: 195px;  
    }
}

@media all and (max-width: 768px) {
    .epilogue__title {
        top: 115px;  
    }
}

@media all and (max-width: 560px) {
    .epilogue__title {
        top: 60px;
        font-size: 42px;
        line-height: 35px;
        max-width: 350px;
    }
}

@media all and (max-width: 380px) {
    .epilogue__title {
        top: 33px;
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}